// Add inside your <Routes> in App.tsx (import each page from ./pages/...)
<Route path="/" element={<Home />} />
<Route path="/services" element={<Services />} />
<Route path="/about-us" element={<AboutUs />} />
<Route path="/blog" element={<Blog />} />
<Route path="/harlem" element={<Harlem />} />
<Route path="/stanley-montfort" element={<StanleyMontfort />} />
<Route path="/success-stories" element={<SuccessStories />} />
<Route path="/2-family-house-for-sale-nyc" element={<TwoFamilyHouseForSaleNyc />} />
<Route path="/advice-for-buyers-looking-to-purchase-brownstones" element={<BrownstoneBuyingGuide />} />
